*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  cursor: none;
}

a, button, input, textarea, label, img {
  cursor: none;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #111;
}

.custom-cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e3e3e3c1;
  position: fixed;
  z-index: 100;
  pointer-events: none;
}

.custom-cursor::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #111;
  background: #f4f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (pointer:coarse) {
  .custom-cursor {
    display: none;
  }
}

/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border: 1px solid #f1f1f124;
  position: relative;
  background: url('ressources/hero-background.jpg');
  background-size: cover;
  background-position: center;
  color: #f1f1f1;
}

nav {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  position: relative;
  color: #f1f1f1;
}

nav a::before {
  display: block;
  content: '';
  background-color: #6f6f6fd0;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  transform-origin: left;
  transition: transform .2s ease-out;
  transform: scaleX(33%);
}
nav a:hover::before {
  transform: scaleX(100%);
  background-color: #f1f1f1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 80px 0;
}

h1 {
  font-size: clamp(24px, 8vW, 60px);
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #999, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 3px;
  background: #fff;
  right: -10px;
  top: 0;
  animation: carret 1s infinite;
}

@keyframes carret {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.subtitle {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: clamp(16px, 2vw, 20px);
  opacity: 0;
  transition: opacity .8s ease-out;
}

.subtitle.active {
  opacity: 1;
}

.hero-push-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #f1f1f1;
  background: #111;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .8s ease-out;

}

.hero-push-link.active {
  opacity: 1;
}

.hero-push-link img {
  width: 40%;
  pointer-events: none;
}


/* container - discover-section */

.container {
  max-width: 1000px;
  margin: 20px auto;
  border-left: 1px solid #f1f1f124;
  border-right: 1px solid #f1f1f124;
  padding: 0 clamp(10px, 12vw, 100px);
  color: #f1f1f1;
  overflow-x: hidden;
}

.container section {
  padding: clamp(10px, 5vw, 40px) 0;
}

section h2 {
  text-align: center;
  font-size: clamp(20px, 6vw, 40px);
  font-weight: 200;
}

.discover-section span {
  font-weight: 800;
}

.section-subtitle {
  text-align: center;
  margin-bottom: clamp(20px, 6vw, 60px);
}

.discover-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-height: 400px;
}

.text-discover-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-discover-content h3, .side-slide-content h3 {
  font-weight: 400;
  font-family: Raleway, sans-serif;
}

.text-discover-content p {
  line-height: 1.4;
  font-weight: 200;
}

.discover-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 175px;
  color: #f1f1f1;
  text-decoration: none;
  border: 1px solid #f1f1f168;
  padding: 10px 15px;
  margin-top: 20px;
}
.discover-link span {
  font-weight: 300;
}
.discover-link img {
  width: 14px;
}

.discover-main-img {
  width: 300px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .discover-content {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-height: fit-content;
  }

  .discover-link {
    margin: 30px auto;
  }

  .discover-main-img {
    display: none;
  }
}


/* container - side-apparition */

.side-apparition-container {
  display: flex;
  gap: 30px;
  max-height: 200px;
}

.side-apparition-container:not(:last-of-type) {
  margin-bottom: 80px;
}

.side-slide-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side-slide-content p {
  font-weight: 200;
  color: grey;
  line-height: 1.2;
}

.side-apparition-container img {
  width: 65%;
  object-fit: cover;
  object-position: 0 70%;
}

@media (max-width: 600px) {
  .side-apparition-container {
    flex-direction: column;
    align-items: center;
  }

  .side-slide-content, .side-apparition-container img {
    width: 100%;
  }

  .side-apparition-container {
    max-height: fit-content;
    margin: 50px 0;
  }

  .side-apparition-container:nth-child(even) img {
    order: 2;
  }

  .side-apparition-container:nth-child(even) .side-slide-content {
    order: 1;
  }
}

/* Animations */

.side-apparition-container {
  transition: transform .4s ease-out, opacity .4s ease-out;
  transform: translateX(30px) skew(20deg);
  opacity: 0;
}

.side-apparition-container:nth-child(odd) {
  transition: transform .4s ease-out, opacity .4s ease-out;
  transform: translateX(-30px) skew(-20deg);
  opacity: 0;
}

.side-apparition-container.active {
  transition: transform .4s ease-out, opacity .4s ease-out;
  transform: translateX(0) skew(0);
  opacity: 1;
}
