*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  padding: clamp(20px, 20vw, 200px) 20px 0;
}

.container {
  margin: 0 auto 60px;
  max-width: 400px;
}

.input-group {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  border-radius: 15px;
  outline: 2px solid #f1f1f1;
  margin: 15px 0;
  font-weight: bold;
}

.input-group input {
  outline: none;
  cursor: pointer;
  width: 100%;
}

.input-group label {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  padding: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

input[type='color'] {
  position: absolute;
  right: 0;
  visibility: hidden;
}

.range-group {
  margin: 30px 0;
}

.range-group label {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  max-width: 180px;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 5px;
  font-weight: 500;
}

input[type="range"]{
  margin-top: 15px;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.buttons-container button {
  font-size: 20px;
  min-width: 150px;
  padding: 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #33333387;
  box-shadow: 0 5px 10px rgba(0,0,0,0.16);
}

.random-btn {
  margin-left: 30px;
}
