@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #f1f1f1,
    #ffc371
  );
}

.calculator {
  max-width: 400px;
  min-width: 340px;
  margin: 10px;
  background-color: #101a22;
  border-radius: 25px;
  padding: 30px;
  color: #f1f1f1;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.display {
  position: relative;
  padding: 60px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
  background-color: #23303b;
  border: 1px solid rgb(97, 97, 97);
  box-shadow:
    inset 0 5px 8px #191919,
    inset 0 -1px 6px #06121d;
  overflow: hidden;
}

.calculation, .result {
  position: absolute;
  right: 20px;
}

.calculation {
  font-family: Open sans, sans-serif;
  font-weight: 100;
  top: 20px;
}

.result {
  font-family: Roboto, sans-serif;
  bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50px;
  gap: 14px;
}

.grid button {
  border-radius: 10px;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 20px;
  font-family: Open sans, sans-serif;
  font-weight: 100;
  cursor: pointer;
  box-shadow:
    0 4px 8px #000,
    0 -1px 6px #41484e;
}

button[data-action='c'], button[data-action='='] {
  grid-column: span 2;
}

button[data-action='='] {
  font-weight: 400;
  font-size: 30px;
  color: #101a22;
  background-image: linear-gradient(45deg,#fcc359, #f3bf61);
}
