*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

/* side-bar */
.side-nav {
  position: fixed;
  width: 250px;
  height: 100%;
  border-right: 2px solid #e3e8f0;
  background-color: #fdfdff;
}
.nav-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 30px;
  cursor: pointer;
  text-decoration: none;
}
.nav-logo h1 {
  font-size: 40px;
  margin-left: 5px;
  font-weight: 500;
  color: #111;
}

.block-link {
  padding: 20px;
  display: flex;
  align-items: center;
  font-weight: 300;
  color: #838f9f;
  text-decoration: none;
}
.block-link:hover {
  background: #f8f8f8;
}
.block-link img {
  width: 20px;
}
.nav-links {
  font-size: 16px;
  margin-left: 12px;
}
.block-link.active {
  background: #e9e9e9;
}
.block-link.active .nav-links {
  color: #35b670;
  font-weight: 500;
}

/*main-container*/
.main-container {
  padding: 30px;
  margin-left: 250px;
}

.input-control {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 450px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding:  15px;
}

.input-control input {
  border: none;
  background: none;
  width: 100%;
  font-size: 18px;
  outline: none;
  color: #000;
  font-family: Lato, sans-serif;
}

.input-control img {
  width: 20px;
}

.section-title {
  font-size: 24px;
  font-family: Lato, sans-serif;
  margin: 16px 0;
}

.table {
  display: flex;
}

.table-title {
  flex-basis: 100%;
  font-family: Lato, sans-serif;
  padding: 16px 0;
}

.table-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  background-color: #fff;
}

.main-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.table-item > p {
  flex-basis: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #3e3e3e60 #dcdcdc;
}

.table-item > p::-webkit-scrollbar {
  height: 6px;
  border: 1px solid #878787;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3e3e3e60;
}

.table-item:nth-child(odd) {
  background-color: #f1f9f6;
}

@media (max-width: 1200px) {
  .side-nav {
    display: none;
  }
  .main-container {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .table {
    display: none;
  }
  .table-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
  .table-item {
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
  }
  .table-item > p {
    flex-basis: auto;
    margin: 10px 0;
  }
}

@media (max-width: 400px) {
  .main-container {
    padding: 10px;
  }
}
